
<h2>Kontakt</h2>
<h3>Strona kontaktowa</h3>

<address>
    Marii Skłodowskiej-Curie<br />
    Bydgoszcz, 85-733<br />
    P: 784.164.226
</address>
<address>
    <strong>Kacper Osiadło:</strong>   <a href="mailto:osiadlo57@gmail.com">osiadlo57@gmail.com</a>
</address>